.thb-payment-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  li {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    border: 1px solid $border;
    border-radius: 2px;
    background: #fff;
    height: 26px;
    align-items: center;
    min-width: 38px;
    padding: 0 4px;
    font-size: 16px;

    & + li {
      margin-left: 4px;
    }
		img {
			max-height: 20px;
			width: auto;
			object-fit: cover;
		}
  }
}
.footer {
  padding: 25px 0;
  margin-top: 30px;

  @include min-break($break-small) {
    padding: 45px 0;
    margin-top: 60px;
  }
	&.footer-full-width-on {
		.row.footer-row {
			max-width: none;
		}
	}
	.footer-logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
		.footer-logolink {
	    display: block;
	    margin-bottom: 30px;
		}
	}
	& + .subfooter {
		position: relative;
		&:after {
			content:'';
			display: block;
			width: 100%;
			height: 1px;
			max-width: 1170px;
			position: absolute;
			left: 50%;
			top: 0;
			@include translateX(-50%);
		}
	}
  &.light {
    border-top: 1px solid $border;
    a {
      color: #4f4f4f;

      &:hover {
        color: $black;
      }
    }
		& + .subfooter.light {
			&:after {
				background: rgba(#000,0.07);
			}
		}
  }
  &.dark {
		background: $black;
		color: rgba(255,255,255,0.8);

		& + .subfooter.dark {
			&:after {
				background: rgba(#fff,0.1);
			}
		}
		a:not(.post-social-share) {
			color: rgba(255,255,255,0.8);

			&:not([class*="btn"]):after {
				background: #fff;
			}
      &:hover {
        color: #fff;
      }
		}
		label,
    .amount {
      color: #fff;
    }
		.widget {
			color: rgba(255,255,255,0.8);
			.thb-widget-title {
				color: #fff;
			}
		}
		input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
			@extend .dark-form-elements;
		}
		.btn-text {
			@extend .light-button-text;
		}
	}
}
.subfooter {
  background: #fff;
	width: 100%;
	z-index: 10;
	font-size: 12px;
  padding: 15px 0;

  @include min-break($break-small) {
    padding: 40px 0;
  }
  p {
		margin-bottom: 15px;
		font-size: inherit;
		@include min-break($break-small) {
			margin-bottom: 0;
		}
	}
  .footer-logo-holder {
		text-align: center;
		margin-bottom: 25px;

		.footer-logolink {
			display: inline-block;
		}
    .logoimg {
      max-height: 40px;
    }
	}
  .thb-full-menu {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		a {
			padding: 0;
			margin-bottom: 15px;
		}
		.footer-logolink {
			display: flex;
		}
		>.menu-item>a {
			padding: 0;
      min-height: 0;
      text-transform: none;
      font-weight: 400;
		}

		.menu-item {
      + .menu-item {
        margin-left: 20px;
      }
      &.menu-item-has-children>a:after {
  			display: none;
  		}
    }
		@include min-break($break-small) {
			a {
				margin-bottom: 0;
			}
		}
		&.thb-underline>.menu-item>a:before {
			top: calc(100% + 2px);
		}
	}
  .subfooter-row {
		.rtl & {
			flex-direction: row-reverse;
		}
	}
	&.subfooter-full-width-on {
		.row.subfooter-row {
			max-width: none;
		}
	}
  &.style1 {
    .thb-social-links-container {
      display: block;
      @include min-break($break-small) {
				display: inline-flex;
			}
      & + .footer-payment-icons {
        margin-top: 15px;
        @include min-break($break-small) {
  				margin-top: 0;
          margin-left: 20px;
  			}
      }
    }
  } // .style1
  &.style2 {
		p {
			margin-bottom: 15px;
		}
		.footer-payment-icons,
		.thb-social-links-container {
			display: block;
		}
		.thb-social-links-container + .footer-payment-icons {
			margin: 20px 0 0 0;
		}
		.thb-full-menu {
			padding: 0 15px;
			justify-content: center;
			margin-bottom: 20px;
      .menu-item {
        a {
          margin-bottom: 0;
        }
      }
		}
		.thb-social-links-container {
			.thb-social-link-wrap {
				padding: 0 4px;
			}
			.thb-social-link {
				font-size: 16px;
			}
		}
	} // .style2
	&.style3 {
		.thb-full-menu {
			@include min-break($break-small) {
				justify-content: flex-end;
			}
		}
	} // .style3
	&.style4 {
		.footer-logo-holder {
			margin: 15px 0;
			@include max-break($break-small) {
				margin-bottom: 30px;
			}
		}
		p {
			margin-top: 15px;
			text-transform: uppercase;
    	font-size: 10px;
		}
	} // .style4
	&.style5 {
		border-top: 1px solid $border;
		.subfooter-text-container {
			display: inline-flex;
		}
		.subfooter-text-container {
			& + .thb-full-menu {
        @include min-break($break-small) {
  				margin-left: 30px;
        }
			}
		}
    .thb-social-links-container {
      display: block;
      @include min-break($break-small) {
				display: inline-flex;
			}
      & + .footer-payment-icons {
        margin-top: 15px;
        @include min-break($break-small) {
  				margin-top: 0;
          margin-left: 20px;
  			}
      }
    }
	} // .style5
	&.style6 {
    text-align: center;
		.footer-logo-holder {
			@include min-break($break-small) {
				margin: 0;
        text-align: left;
			}
		}
		.thb-social-links-container .thb-social-link {
			font-size: 16px;
		}
		hr {
			border-color: $border;
			margin: 20px 0;
      max-width: none;
		}
	}
  &.style7 {
    text-align: center;

    @include min-break($break-small) {
      text-align: left;

			.rtl & {
				text-align: right;
			}
    }
    .footer-logo-holder {
      flex-shrink: 0;
    }
    .sub-footer-content {
      flex: 1;

      .thb-full-menu,
      p,
      .thb-social-links-container {
        margin-bottom: 15px;
      }
      .thb-social-links-container {
        display: block;
      }
    }
    .subfooter-row {
      >.columns {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include min-break($break-small) {
  				flex-direction: row;
          align-items: flex-start;

          .footer-logo-holder {
            margin-right: 50px;

						.rtl & {
							margin-right: 0;
							margin-left: 50px;
						}
          }
  			}
      }
    }
  } // .style7


	&.dark {
		background: $black;
		color: #fff;
		a {
			color: #fff;

      &:hover {
        color: $accent;
      }
		}
		.widget h6 {
			color: #fff;
		}
		p {
			opacity: 0.6;
		}
		.socials {
			a {
				color: #fff;
			}
		}
    .thb-payment-icons li {
      border-color: rgba(#fff,0.15);
      color: #fff;
      background: transparent;
    }
		.thb-full-menu.thb-line-marker>li>a:hover {
			color: #fff;
		}
		&.style5 {
			border-top: none;
		}
		&.style6 {
			border-color: rgba(#fff, 0.1);
		}
		&.style2 {
			.thb-social-links-container.circle-color .thb-social-link {
				.thb-social-icon-container {
					background: #fff;
					color: $black;
					line-height: 0;
				}
				@each $profile, $color in $social {
	        &.social-link-#{$profile} {
	          &:hover {
	            .thb-social-icon-container {
	              color: $color;
	            }
	          }
	        }
	      }
			}
		}
	}
}
#scroll_to_top {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#000,0.4);
  color: $black;
  font-size: 22px;

  position: fixed;
	bottom: -50px;
	right: 15px;
	z-index: 100;

	.rtl & {
		right: auto;
		left: 15px;
	}
  &.active {
		bottom: 15px;

    .thb-sticky-active & {
      bottom: 90px;
    }
	}
  &:hover {
    border-color: $accent;
    background: $accent;
    color: #fff;
  }
}