body {
	font-size: 16px;
	background: #fff;
	&.thb-boxed-on {
		background: #f8f8f8;
	}
}
a {
	color: $black;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	@extend .quick-transition;
	&:hover {
		color: $accent;
	}
	&:focus {
		outline: none;
		color: inherit;
	}
}
h1,h2,h3,h4,h5,h6 {
	small {
		text-transform: uppercase;
		margin-left: 10px;
		font-size: 60%;
		color: $accent;

		a {
			color: $accent;
		}
	}
	strong {
		font-weight: 400;
	}
}
p {
	word-spacing: 0.001em;
	font-feature-settings:"kern" 1;
	font-kerning: normal;
}
.full-width-row {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}
.full-height {
	display: flex;
	min-height: 100vh;
}
.row {
	background-size: cover;
	@extend .general-shadow-styles;
	&:before {
		display: none !important;
	}
	&.mpc-row {
		display: flex;
	}
	&.thb-arrow-enabled,
	&.thb-divider-enabled,
	&.thb-overlay-enabled {
		position: relative;

		>.vc_element {
			.compose-mode & {
				z-index: 10;
			}
		}
	}
	&.thb-divider-enabled,
	&.thb-overlay-enabled {

		>.columns {
			z-index: 2;
		}
	}
	&.row-o-full-height {
		display: flex;
		min-height: 100vh;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  /* IE10+ specific styles go here */
		   height: 100vh;
		}
	}
	&:not(.row-o-content-bottom):not(.row-o-content-middle):not(.row-o-columns-bottom):not(.row-o-columns-middle) {
		>.columns {
			>.vc_column-inner {
				>.wpb_wrapper:not(.thb-fixed) {
					height: 100%;
				}
			}
		}
	}
	&.row-o-columns-bottom {
		align-items: flex-end;
	}
	&.row-o-columns-middle {
		align-items: center;
	}
	&.row-o-content-middle {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&.row-o-content-bottom {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&.max_width {
	  max-width: 79.375rem !important;
	  padding: 0;
	  margin: 0 auto;
	  @include min-break($break-small) {
	  	padding: 0 35px;
	  }
	}
	@include min-break($break-small) {
		padding: 0 35px;

		.row:not(.max_width) {
			padding:0;
		}
	}
	.row {
		&.no-padding {
			@extend .no-padding;
		}
	}
	&.full-width-row {
	   @extend .full-width-row;
	}
	&.no-column-padding {
		margin: auto;
		&>.columns {
			padding: 0;
		}
	}
	&.no-row-padding {
		padding: 0;
	}
	&.low-padding {
		@include min-break($break-medium) {
			margin: 0 -15px;

			.columns {
				padding: 0 15px;
			}
		}
	}
	.columns {
		.wpb_wrapper {
			width: 100%;

			.wpb_content_element:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.thb_video_bg {
		position: relative;
		overflow: hidden;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;

		.columns {
			z-index: 5;
		}
		.thb-row-video-bg {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
			transform: translate3d(-50%, -50%, 0);
		}
		.thb_video_overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			pointer-events: none;
			transform: translateZ(0);
		}
	}
	.thb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }
  &.vc_parallax {
    .thb-row-overlay {
    	z-index: 1;
    }
  }

  .thb-divider-container {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		@include translateZ(0);
		pointer-events: none;


		.thb-svg-divider {
	    width: 100%;
	    left: 0;
	    bottom: -1px;
	    height: 100%;
	    position: absolute;
		}
		&[data-position="top"] {
			top: -1px;
			bottom: auto;
			transform: rotate(180deg);
			.thb-svg-divider {
				bottom: auto;
				top: -1px;
			}
		}
		&.second[data-position="both"] {
			top: -1px;
			bottom: auto;
			transform: rotate(180deg);
			.thb-svg-divider {
				bottom: auto;
				top: -1px;
			}
		}
		&.waves_opacity {
			.thb-svg-divider {
				path {
					&:nth-child(2) {
						fill-opacity: 0.15;
					}
					&:nth-child(3) {
						fill-opacity: 0.3;
					}
				}
			}
		}
	}
}
figure {
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	backface-visibility: hidden;
	scroll-behavior: smooth;

	.thb-boxed-on & {
		max-width: 1270px;
		background: #fff;
		@include min-break($break-medium) {
			margin: 40px auto;
		}
	}
	[role="main"] {
		display: flex;
		flex: 1;
		flex-direction: column;
		background: #fff;
		@include ie11() {
			display: block;
			flex: none;
		}
		&>.row {
			width: 100%;
		}

	}
	.click-capture {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 50;
		opacity: 0;
		visibility: hidden;
		background: rgba(0,0,0,0.2);

	}
	&.open-cc {
		.click-capture {
			pointer-events: auto;
		}
	}
}
/* Not Found */
.not-found {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	figure {
		display: inline-flex;
		width: 120px;
		height: 120px;
		border: 6px solid #f8f8f8;
		color: #e6e6e6;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		border-radius: 60px;
		&:after {
			content: '!';
			font-size: 80px;
		}
	}
}
/* Preloader */
.thb-page-preloader {
	position: fixed;
	z-index: 999;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	@include user-select(none);
}

/* Front-End Editor fixes */
.compose-mode .vc_element,
.view-mode .vc_element {
  max-width: 100%;
	z-index: 10;
}

.wpb_widgetised_column.wpb_content_element {
  height: 100%;
	margin: 0;
}
.vc_section {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100%;
}

// Borders
.thb-borders {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	z-index: 999;
	border: 0px solid $black;
	@extend .quick-transition;
	@extend .admin-style;
	@include min-break($break-small) {
		border-width: 8px;
	}
}

// Sidebar content
.sidebar-container {
  display: flex;
  flex-direction: column;

  @include min-break( $break-medium ) {
    flex-direction: row;
		justify-content: space-between;
  }
	&.no-sidebar {
		.sidebar-content-main {
			padding: 0;
			max-width: 100%;
		}
	}
	&.sidebar-right {
		@include min-break( $break-medium ) {
	    flex-direction: row-reverse;
	  }
		.sidebar + .sidebar-content-main {
	    @include min-break( $break-medium ) {
	      padding-right: 65px;
				padding-left: 0;
	      .rtl & {
	        padding-left: 0px;
	        padding-right: 65px;
	      }
	    }
	  }
		@include max-break($break-medium) {
			.sidebar {
				order: 2;
			}
		}

	}
  .sidebar {
    flex-shrink: 0;
    display: flex;
		flex-direction: column;
    width: 100%;
		@include min-break( $break-medium ) {
			max-width: 250px;
		}
		+ .sidebar-content-main {
			padding-right: 0;
			@include min-break( $break-medium ) {
	      padding-left: 65px;
				max-width: calc(100% - 285px);
	      .rtl & {
	        padding-right: 0;
	        padding-left: 65px;
	      }
				.single-product & {
					padding: 0 !important;
				}
				&.thb-shop-content {
					.full-width-row & {
						max-width: calc(100% - 285px);
					}
				}

	    }
		}
  }
  .sidebar-content-main {
    max-width: 100%;
		width: 100%;

    @include min-break( $break-medium ) {
      padding-right: 65px;
			max-width: calc(100% - 250px);
      .rtl & {
        padding-right: 0;
        padding-left: 65px;
      }
    }
  }
	&.thb-shop-sidebar-layout {
		&.sidebar-left {
			.sidebar {
				@include min-break( $break-medium ) {
					padding-right: 65px;

					.rtl & {
						padding-right: 15px;
						padding-left: 65px;
					}
				}
			}
		}
		&.sidebar-right {
			.sidebar {
				@include min-break( $break-medium ) {
					padding-left: 65px;

					.rtl & {
						padding-left: 0;
						padding-right: 65px;
					}
				}
			}
		}
		.sidebar {
			display: none;
			@include min-break( $break-medium ) {
				display: flex;
				max-width: 285px;
			}
		}
		.sidebar-content-main {
			padding: 0;
		}
	}
}
// Standard Page.
.no-vc {
	.woocommerce {
		margin-bottom: 20px;
		@include min-break( $break-small ) {
			margin-bottom: 40px;
		}
	}
}