.widget {
  margin-bottom: 35px;
  font-size: 14px;
  .thb-widget-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1;
    color: $black;

    .thb-arrow {
      margin-left: 5px;
      display: inline-flex;

      @include min-break( $break-medium ) {
        display: none;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: #4f4f4f;
      &:hover {
        color: $accent;
      }
    }
  }
  .thb-arrow {
    display: inline-flex;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 1px;
    i {
      line-height: 1;
      pointer-events: none;
    }
  }
  &.widget_categories,
	&.widget_archive {
    ul {
      li {
        padding: 7px 0;
        color: #a6a6a6;
        text-align: right;
        border-bottom: 1px dotted #a4a4a4;
        @extend .cf;

				.rtl & {
					text-align: left;
				}
        a {
          float: left;

					.rtl & {
						float: right
					}
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    .children {
      margin: 10px 0 0 15px;
			font-size: 12px;
			border-top: 1px dotted #a4a4a4;
      .rtl & {
        margin: 10px 15px 0 0;
      }
    }
		select {
			margin-bottom: 0;
		}
  } // .widget_categories
  &.widget_recent_comments {
    ul {
      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;

				.rtl & {
					padding-left: 0;
					padding-right: 30px;
				}
        &:before {
          content: '\e80a';
          font-family: 'peakshops';
          position: absolute;
          top: 7px;
          line-height: 1;
          left: 0;
          color: $black;
					.rtl & {
						left: auto;
						right: 0;
					}
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  } // .widget_recent_comments
  &.widget_nav_menu,
  &.widget_pages,
  &.widget_meta,
  &.widget_product_categories {
    font-size: 14px;
    li {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        >a,
        >.thb-arrow,
        >.count {
          color: $accent;
        }

      }
    }
    .sub-menu,
    .children {
      display: none;
      padding: 10px 0 10px 20px;
      list-style: none;
      font-size: 13px;
      .rtl & {
        padding: 10px 20px 10px 0;
      }
      li {
        &:last-child {
          margin: 0;
        }
      }
    }
  } // .widget_nav_menu
  &.widget_rss {
    li {
      margin-bottom: 15px;

      .rsswidget {
        font-weight: 600;
      }
      .rss-date {
        opacity: 0.8;
      }
      .rssSummary {
        font-size: 12px;
        margin-bottom: 5px;
      }
      cite {
        font-size: 14px;
      }
    }
  } // .widget_rss
  &.widget_shopping_cart {
    .widget_shopping_cart_content {
      width: 100%;
    }
    .woocommerce-mini-cart__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
      border-top: 1px solid $border;
      color: $black;
      margin-top: 20px;
      margin-bottom: 0;
      padding-bottom: 20px;
      padding-top: 20px;

      .amount {
        font-size: inherit;
        font-weight: inherit;
      }
    }
    .woocommerce-mini-cart__buttons {
      display: flex;
      flex-direction: column;

      .button + .button {
        margin-top: 8px;
      }
    }
    .product_list_widget {
      li {
        padding-right: 30px;

				.rtl & {
					padding-right: 0;
					padding-left: 30px;
				}
      }
    }
  } // .widget_shopping_cart
  &.widget_layered_nav,
	&.widget_layered_nav_filters  {
		li {
			flex-wrap: wrap;
			display: flex;
			align-items: center;

			>a {
				display: block;
				position: relative;
				padding-left: 25px;
        color: $black;
				&:before {
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -7px;
					content: '';
					display: block;
					width: 14px;
					height: 14px;
					border: 1px solid $black;
					color: #fff;
				}
				.rtl & {
					padding-left: 0;
					padding-right: 25px;

					&:before {
						left: auto;
						right: 0;
					}
				}
			}
			&:hover {
				>a:before {
          @include box-shadow(inset 0 0 0 2px);
          background: $black;
				}
			}

			.count {
				display: inline-flex;
				font-size: 10px;
        margin-left: 7px;
				.rtl & {
					margin-left: 0;
					margin-right: 7px;
				}
			}
			&.chosen {
				>a {
					&:before {
            @include box-shadow(inset 0 0 0 1px);
						background: $black;
					}
				}
			}
		}
	}
  &.thb_widget_swatch_filter {
    .thb_color-swatch {
      .thb-swatch-filter-link {

        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 4px;
        color: $black;

        &:hover {
          .thb-swatch {
            @include box-shadow(inset 0 0 0 1px #000);

            >span {
    					@include scale(0.9);
    				}
          }
        }
        .thb-swatch {
          margin-left: -3px;
          margin-right: 9px;
					.rtl & {
						margin-right: -3px;
						margin-left: 9px;
					}
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .count {
        display: inline-flex;
        font-size: 10px;
        margin-left: 7px;
				.rtl & {
					margin-right: 7px;
					margin-left: 0;
				}
      }
    }
  }
  &.widget_price_filter {
		.price_slider_wrapper {
			padding-top: 5px;
		}
		.price_slider {
			height: 2px;
			background: #d4d4d4;
			position: relative;
			margin-bottom: 20px;
			.ui-slider-range {
				height: 2px;
				background: $black;
				position: absolute;
			}
			.ui-slider-handle {
				display: block;
				outline: none;
				position: absolute;
				top: -5px;
				width: 12px;
				height: 12px;
				border-radius: 6px;
				border: 2px solid $black;
				background: #fff;
				@include transition-duration(0s);

        &:last-child {
          margin-left: -12px;
        }
			}
		}
		.price_slider_amount {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			font-size: 13px;
			font-weight: 400;
			.clear {
				display: none;
			}
      input[type="text"] {
        display: none;
      }
			.button {
				font-size: 13px;
				font-weight: 500;
        line-height: 1;
				color: $black !important;
				background: none !important;
				height: auto !important;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
			}
		}
	}
}