.products {
  .product-category {
    &:hover {
      h2 {
        color: $accent;
      }

      .thb-product-category-image {
        img {
          @include scale(1.09);
        }
      }
    }
    h2 {
      @extend .quick-transition;
    }
    .thb-product-category-image {
      overflow: hidden;
      line-height: 1;

      img {
        will-change: scale;
        @extend .mid-transition;
      }
    }
    .thb-category-link {
      display: block;
      margin-bottom: auto;
      text-align: center;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .count {
      background: none;
    }
    &.thb-category-style1 {
      .thb-product-category-image {
        margin-bottom: 15px;
      }
      .woocommerce-loop-category__title {
        text-transform: uppercase;
        font-size: 14px;

        .count {
          vertical-align: super;
          font-size: 11px;
          margin-left: 5px;
        }
      }

    } // .thb-category-style1
    &.thb-category-style2 {
      .thb-product-category-image {
        margin-bottom: 15px;
      }
      .woocommerce-loop-category__title {
        font-size: 14px;
        .count {
          display: block;
          font-size: 11px;
          opacity: 0.8;
          font-weight: 400;
        }
      }
    } // .thb-category-style2
    &.thb-category-style3 {
      .thb-category-link {
        position: relative;
        background: $black;
				height: 0;
				padding-bottom: 70%;
				overflow: hidden;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 6;
          background: $accent;
          opacity: 0;
          @extend .quick-transition;
        }
        img {
          margin-bottom: 0;
          opacity: 0.8;
        }
				.thb-product-category-image {
					position: absolute;
					z-index: 5;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
        .woocommerce-loop-category__title {
          position: absolute;
          width: 100%;
          top: 50%;
          color: #fff;
          z-index: 10;
					text-transform: uppercase;
          @include translateY(-50%);

          .count {
            color: #fff;
            vertical-align: super;
            font-size: 50%;
            margin-left: 5px;
          }
        }
        &:hover {
          &:after {
            opacity: 0.8;
          }
        }
      }
    } // .thb-category-style3
    &.thb-category-style4 {
      .thb-product-category-image {
        margin-bottom: 15px;
      }
      .woocommerce-loop-category__title {
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: calc(100% + 2px);
          left: 0;
          height: 1px;
          width: 100%;
          transform-origin: center;
          background: rgba(#000,0.16);
          @extend .quick-transition;
        }
        .count {
          vertical-align: super;
          font-size: 11px;
          margin-left: 5px;
        }
      }
      &:hover {
        .woocommerce-loop-category__title {
          &:after {
            background: $accent;
            @include scale(1.2, 1);
          }
        }
      }
    } // .thb-category-style4
    &.thb-category-style5 {
      .thb-product-category-image {
        margin-bottom: 0;
      }
      .woocommerce-loop-category__title {
        border: 1px solid rgba(#000,0.1);
        padding: 15px;
        font-size: 14px;
        .count {
          display: block;
          font-size: 11px;
          opacity: 0.8;
          font-weight: 400;
        }
      }
    } // .thb-category-style5
    &.thb-category-style6 {
      .thb-category-link {
        position: relative;

        .woocommerce-loop-category__title {
          position: absolute;
          background: #fff;
          bottom: 10px;
          left: 10px;
          right: 10px;
          line-height: 1;
          padding: 15px 5px;
          font-size: 14px;
          margin: 0;
          @extend .quick-transition;
          .count {
            vertical-align: super;
            font-size: 11px;
            margin-left: 5px;
            @extend .quick-transition;
          }
        }
        &:hover {
          .woocommerce-loop-category__title {
            background: $accent;
            color: #fff;

            .count {
              color: #fff;
            }
          }
        }
      }
    } // .thb-category-style6
    &.thb-category-style7 {
      .thb-product-category-image {
        margin-bottom: 20px;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
      .woocommerce-loop-category__title {
        font-size: 16px;
        .count {
          vertical-align: super;
          font-size: 11px;
          margin-left: 5px;
        }
      }
    } // .thb-category-style7
  }
}

.thb-category-top-content {
	margin-bottom: 30px;
}
.thb-category-bottom-content {
	margin-top: 30px;
	margin-bottom: 30px;
}
.woocommerce-pagination + .thb-category-bottom-content {
	margin-top: 0;
}