.products {
	&.thb-main-products {
		&.thb-loading {
			position: relative;
			padding-bottom: 80px !important;

			&:after {
				top: auto;
				bottom: 25px;
				height: 50px;
				width: 50px;
				border-radius: 50%;
				left: 50%;
				margin-left: -25px;
			}
		}
	}

  &.row {
    min-width: 100%;
    margin: 0 -5px;

    .product {
      margin-bottom: 10px;
      padding: 0 5px;
    }
    @include min-break($break-small) {
      margin: 0 -15px;
      .product {
        margin-bottom: 30px;
        padding: 0 15px;
      }
    }

    &.thb-products-spacing-10 {
      @include min-break($break-small) {
        margin: 0 -5px;

        .product {
          margin-bottom: 10px;
          padding: 0 5px;
        }
      }
    }
    &.thb-products-spacing-20 {
      @include min-break($break-small) {
        margin: 0 -10px;

        .product {
          margin-bottom: 20px;
          padding: 0 10px;
        }
      }
    }
    &.thb-products-spacing-40 {
      @include min-break($break-small) {
        margin: 0 -20px;

        .product {
          margin-bottom: 40px;
          padding: 0 20px;
        }
      }
    }
    &.thb-products-spacing-50 {
      @include min-break($break-small) {
        margin: 0 -25px;

        .product {
          margin-bottom: 50px;
          padding: 0 25px;
        }
      }
    }
  }

  .product {
    display: flex;
    margin-bottom: 30px;
    .thb-product-inner-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      .thb-product-inner-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        .button {
          margin-top: auto;
        }
        >* {
          &:last-child {
            margin-bottom: 0;
          }
        }
				.star-rating {
					margin-right: auto;

					.rtl & {
						margin-right: 0;
						margin-left: auto;
					}
				}
      }
    }
		&.thb-align-center {
			.thb-product-inner-content {
				text-align: center;
				align-items: center;

				.star-rating {
					margin: 0 auto;
				}
			}
			&.thb-listing-button-style1 .button {
				align-self: center;
			}
			&.thb-listing-button-style4 .thb_transform_price {
				width: 100%;
				justify-content: center;
				text-align: center;
				.thb_transform_loop_buttons {
					justify-content: center;
				}
			}
		}
    .woocommerce-loop-product__title {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 4px;

      a {
        color: $black;
        &:hover {
          color: $accent;
        }
      }
    }
    .product-thumbnail {
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      >a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    .thb-product-image-link {
      &.thb-second-image {
				position: relative;
				.product_thumbnail_hover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					background-position: center;
					@extend .quick-transition;

					img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
				&:hover {
					.product_thumbnail_hover {
						opacity: 1;
					}
				}
			}
      &.thb-slider-image {
        .thb-carousel-image-link {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
        }
      }
    }
    .product-category {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 500;
      color: $accent;
      line-height: 1;
      margin-bottom: 8px;

      a {
        color: $accent;

        &:hover {
          color: $black;
        }
      }
    }
    .product-excerpt {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
    .star-rating {
      margin-bottom: 7px;
      margin-top: 3px;
      font-size: 12px;
    }
    .price {
      margin-bottom: 10px;
      line-height: 1;
    }
		.button {
			&.loading {
				opacity: 1;
				pointer-events: none;
			}
		}
    .added_to_cart {
      display: none !important;
    }
    &:hover {
      .product-thumbnail {
        .thb-product-icon {
          opacity: 1;
          @include translateX(0);
          + .thb-product-icon {
            transition-delay: 0.1s;
          }
        }
      }
    }
    // Listing Styles.
    &.thb-listing-style2 {
      .product-thumbnail {
        margin-bottom: 0;
        border-radius: 3px 3px 0 0;

        img {
          border-radius: 3px 3px 0 0;
        }
      }
      .thb-product-inner-wrapper {
        border: 1px solid rgba(#000,0.1);
        border-radius: 3px;

        .thb-product-inner-content {
          padding: 15px;

          @include min-break($break-small) {
            padding: 20px;
          }
        }
      }
      &.thb-listing-button-style1 {
        .button {
          width: 100%;
        }
      }
    } // .thb-listing-style2
    &.thb-listing-style3 {
      .thb-product-inner-wrapper {
        position: relative;
        top: -15px;
        left: -15px;
        width: calc(100% + 30px);
        height: 100%;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid transparent;
        flex: none;
        @extend .quick-transition;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          pointer-events: none;
          opacity: 0;
          @include box-shadow(0 2px 12px rgba(#000, 0.1));
          @extend .quick-transition;
        }
      }
      &:hover {
        .thb-product-inner-wrapper {
          border-color: rgba(#000,0.1);
          &:after {
            opacity: 1;
          }
        }
      }
      &.thb-listing-button-style1 {
        .button {
          width: 100%;
        }
      }
    } // .thb-listing-style3
    // Button Styles.
    &.thb-listing-button-style1 {
      .button {
				margin-top: 8px;
        align-self: flex-start;
      }
    } // .thb-listing-button-style1
    &.thb-listing-button-style2 {
      .product-thumbnail {
        .button {
          border-radius: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          @include translateY(101%);
        }
      }
      &:hover {
        .product-thumbnail .button {
          @include translateY(0%);
        }
      }
    } // .thb-listing-button-style2
    &.thb-listing-button-style3 {
      .product-thumbnail {
        .button {
          border: 0;
          padding: 0;
          background: none;
          height: auto;
          font-weight: 400;
          font-size: 14px;
          line-height: 0;
          text-transform: none;
          position: absolute;
          bottom: 15px;
          left: 15px;
          z-index: 10;
					opacity: 0;
					background: transparent !important;
          @include min-break($break-small) {
            bottom: 20px;
            left: 20px;
          }
          svg {
            stroke: $black;
            stroke-width: 2px;
            fill: none;
          }
          .thb-icon-text {
            right: auto;
            left: 35px;
          }
					&.black {
						&:hover {
							svg {
								stroke: $accent;
							}
						}
					}
					&.accent {
						svg {
							stroke: $accent;
						}
						&:hover {
							svg {
								stroke: $black;
							}
						}
					}
          &:hover {
            .thb-icon-text {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
			&:hover {
				.product-thumbnail {
					.button {
						opacity: 1;
					}
				}
			}
    } // .thb-listing-button-style3
    &.thb-listing-button-style4 {
      .price {
        margin-bottom: 0;
        line-height: 1;
      }
      &:hover {
  			.thb_transform_price .thb_transform_loop_price {
  				@include translateY(-100%);
  			}
  			.thb_transform_price .thb_transform_loop_buttons {
  				top: 0;
  			}
  		}
      .thb_transform_price {
        position: relative;
        overflow: hidden;
        margin-bottom: 8px;
        .thb_transform_loop_buttons,
        .thb_transform_loop_price {
          @extend .quick-transition;
        }

        .thb_transform_loop_buttons {
          position: absolute;
          top: 100%;
          left: 0;
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 14px;
          color: $black;
          line-height: 1;

          .added_to_cart {
            display: none;
          }
        }
        .button {
          border: 0;
          position: relative;
          padding: 0;
          margin: 0;
          background: none;
          color: $accent;
          height: auto;
          font-weight: 600;
          display: flex;
          align-items: flex-end;
          height: 100%;
          font-size: 13px;
          line-height: 1;
          text-transform: uppercase;
          &:hover {
            background: transparent;
            opacity: 0.9;
          }
        }
      } // .thb_transform_price
    } // .thb-listing-button-style4
		&.thb-listing-button-style5 {
			.thb-addtocart-with-quantity {
				display: flex;
				margin-top: auto;
				.cart {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				div.quantity {
					.thb-quantity-style1 & {
						.qty {
							height: 38px;
							width: 38px;
							line-height: 38px;
							font-size: 14px;
						}
						.plus {
							height: 19px;
							&:before {
								top: 5px;
							}
						}
						.minus {
							height: 20px;
						}
					}
					.thb-quantity-style2 & {
						padding: 0 25px;
						.qty {
							height: 36px;
							width: 34px;
							line-height: 36px;
							font-size: 14px;
						}
						.minus,
						.plus {
							height: 36px;
							width: 25px;
						}
						.minus {
							&:after {
								left: 10px;
							}
						}
						.plus {
							&:before {
								left: 10px;
							  top: 14px;
							}
							&:after {
								right: 9px;
							}
						}
					}
					.thb-quantity-style3 & {
						.qty {
							width: 48px;
							height: 38px;
							font-size: 14px;
						}
					}
				}
				.button {
          border: 0;
          padding: 0;
					border-radius: 50%;
          background: $black;
          height: 38px;
					width: 38px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 0;
          text-transform: none;
					margin-left: auto;

					.rtl & {
						margin-left: 0;
						margin-right: auto;
					}
          svg {
            stroke: #fff;
            stroke-width: 2px;
            fill: none;
						width: 20px;
						position: relative;
						left: -1px;
          }
					.thb-icon-text {
						right: 48px;
					}
					&:hover {
						background: $accent;
						.thb-icon-text {
              opacity: 1;
              visibility: visible;
            }
					}
					&.black {
						background: $black;

						&:hover {
							background: $accent;
						}
					}
					&.accent {
						background: $accent;
					}
        }
			}
		} // .thb-listing-button-style4
  }

  &.thb-product-category-carousel,
  &.thb-product-carousel {
    .product {
      margin-bottom: 0;

			.badge {
				opacity: 0;
				@include transition(opacity .25s $transition);
			}
			&.slick-active {
				.badge {
					opacity: 1;
				}
			}
    }
  }
}
// Icons.
.thb-product-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  width: 33px;
  height: 33px;
  z-index: 30;
	margin-top: 0;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: $black;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  @include box-shadow(0 1px 2px rgba(#000,0.14));
  @include translateX(20px);
  @extend .quick-transition;
  &:hover,
  &.exists {
    background: $accent;
    color: #fff;
    a {
      color: #fff;
    }
  }
  &.thb-loading {
    &:after {
      background-color: #fff;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      background-size: 16px 16px;
      border-radius: 50%;
    }
  }
  .blockUI.blockOverlay {
    &:after {
      background-color: #fff;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      background-size: 16px 16px;
      border-radius: 50%;
    }
  }
  a {
    display: block;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 13px;
		i {
			margin: 0;
		}
  }
  + .thb-quick-view {
    top: 55px;
  }
  &.woocommerce-product-gallery__trigger {
    width: 42px;
    height: 42px;
    top: 20px;
    right: 20px;

    &:hover {
      svg {
        fill: #fff;
      }
    }
    .thb-icon-text {
      right: 51px;
    }
  }
  &.thb-product-video {
    width: 42px;
    height: 42px;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    @include translateX(0);

    svg {
      width: 14px;
      margin-left: 3px;
    }
    &:hover {
      svg {
        fill: #fff;
      }
    }
    .thb-icon-text {
      right: auto;
      left: 51px;
    }
  }
  &:hover {
    .thb-icon-text {
      opacity: 1;
      visibility: visible;
    }
  }
}
.thb-icon-text {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 42px;
  height: 26px;
  z-index: 25;
  padding: 0 10px;
  margin-top: -13px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  background: $black;
  white-space: nowrap;
  @extend .quick-transition;
  &:after {
    left: 100%;
    position: absolute;
    top: 50%;
    border: solid transparent;
    content: " ";
    width: 0;
    height: 0;
    margin-top: -5px;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $black;
  }
  &.on-left {
    &:after {
      left: auto;
      right: 100%;
      border-width: 5px 5px 5px 0;
      border-color: transparent $black transparent transparent;
    }
  }
}
// Badges.
.badge {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  z-index: 20;
  line-height: 1;
  pointer-events: none;

	.amount {
		color: #fff;
		letter-spacing: -0.07em;
	}
	&.thb-sale-ammount {
		>span {
			white-space: nowrap;
		}
	}
  &.onsale {
    background: #e6434a;
  }
  &.new {
    background: #56c7dd;
  }
  &.out-of-stock {
    background: #cfcfcf;
  }
  &.style1 {
    top: 20px;
    left: -13px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 5px;

    &.onsale:not(.perc) {
      line-height: 1.2;
    }
    + .badge {
      width: 46px;
      height: 46px;
      top: 72px;
      left: -9px;
      z-index: 10;
      font-size: 10px;
    }
  } // .style1
  &.style2 {
    top: 0;
    left: -3px;
    height: 26px;
    padding: 0 10px 0 13px;
    @include skewX(-11deg);
    >span {
      @include skewX(11deg);
    }
    + .badge {
      height: 24px;
      font-size: 10px;
      top: 32px;
    }
  } // .style2
  &.style3 {
    top: 21px;
    left: -3px;
    height: 26px;
    padding: 0 10px;
    border-radius: 0 3px 3px 0;
    + .badge {
      height: 24px;
      font-size: 10px;
      top: 51px;
    }
  } // .style3
  &.style4 {
    top: 20px;
    left: 20px;
    height: 26px;
    padding: 0 13px;
    border-radius: 3px;
    + .badge {
      height: 24px;
      font-size: 10px;
      top: 51px;
    }
  } // .style4
  &.style5 {
    top: 21px;
    left: -12px;
    height: 26px;
    padding: 0 10px;
    border-radius: 0;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 7px 0;
      border-color: transparent #e6434a transparent transparent;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      pointer-events: none;
    }
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 7px 0;
      border-color: transparent rgba(#000,0.1) transparent transparent;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      pointer-events: none;
    }
    &.onsale:after {
      border-right-color: #e6434a;
    }
    &.new:after  {
      border-right-color: #56c7dd;
    }
    &.out-of-stock:after  {
      border-right-color: #cfcfcf;
    }
    + .badge {
      height: 24px;
      font-size: 10px;
      top: 51px;
    }
  } // .style5
}

// Elementor Widget.
.elementor-widget-woocommerce-products {
	.elementor-element.elementor-products-grid ul.products {
		li.product {
			flex: none;
    	max-width: 100%;
		}
	}
}