.thb-global-notification {
	display: flex;
	align-items: center;
	background: #fff;
	text-align: center;
	font-size: 13px;
	width: 100%;
	line-height: 1;
	padding: 8px 0;
  font-weight: 400;
	@extend .admin-style;

	&.dark {
		background: $black;
		color: #fff;
		a,
		a:hover {
			color: #fff;
		}
	}

	p {
		margin: 0;
	}
}