// Search.
.thb-header-inline-search {
	position: relative;
  width: 100%;
	max-width: 500px;
	display: none;
	@include min-break($break-medium) {
		display: inline-flex;
		margin-left: auto;

		.rtl & {
			margin-left: 0;
			margin-right: auto;
		}
	}
	.woocommerce-product-search {
		&.thb-loading {
			&:after {
				width: 16px;
				height: 16px;
				top: 50%;
				left: 50%;
				margin: -8px 0 0 -8px;
				background-size: 16px 16px;
			}
		}
	}
  .thb-results-container {
    position: absolute;
		z-index: 40;
    top: calc(100% + 5px);
    left: 0;
    width: 100% !important;
    background: #fff;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 15px;

    @include min-break($break-medium) {
      padding: 30px;
    }
    &.product_list_widget {
      li {
        margin-bottom: 20px;
      }
      a {
        .wp-post-image {
          margin-right: 20px;
        }
      }
    }
		.thb-search-btn {
			a {
				display: flex;
			}
		}
  }
}

// Secondary Area.
.thb-secondary-area {
	margin-left: auto;
	display: flex;

	.rtl & {
		margin-left: 0;
		margin-right: auto;
	}
	&.thb-separator-on {
		.thb-secondary-item + .thb-secondary-item {
			&:after {
				content: '';
				display: none;
				position: absolute;
				left: 0;
				height: 70%;
				top: 15%;
				background: rgba(#000, 0.1);
				width: 1px;

				.dark-header & {
					background: rgba(#fff, 0.1);
				}
				.rtl & {
					left: auto;
					right: 0;
				}
			}
			@include min-break($break-small) {
				margin-left: 10px;
				padding-left: 10px;
				position: relative;
				&:after {
					display: block;
				}
				.rtl & {
					margin-left: 0px;
					padding-left: 0px;
					margin-right: 10px;
					padding-right: 10px;
				}
			}
			@include min-break($break-medium) {
				margin-left: 17px;
				padding-left: 17px;
			}
			&:last-of-type {
				&:after {
					content: none;
				}
			}
		}
	}
	.thb-secondary-item {
		display: inline-flex;
		align-items: center;
		font-size: 12px;
		padding: 10px 0;
		.thb-item-text {
			margin-right: 10px;
			display: none;
			@include min-break($break-small) {
	      display: inline-flex;
				align-items: center;
				line-height: 1;
	    }
			&:last-child {
				margin-right: 0;
			}
			.rtl & {
				margin-left: 10px;
				margin-right: 0;

				&:last-child {
					margin-left: 0;
				}
			}
		}
		>span,
		>div {
			display: inline-flex;
		}
		svg {
			height: 18px;
			width: auto;

			&.thb-cart-icon {
				&.thb-cart-icon-style5,
				&.thb-cart-icon-style6 {
					path {
						stroke: $black;
						stroke-width: 0.5;
						stroke-miterlimit: 10;
					}
				}
			}
		}
		+ .thb-secondary-item {
			margin-left: 15px;
			@include min-break($break-medium) {
	      margin-left: 20px;
	    }
			.rtl & {
				margin-left: 0;
				margin-right: 15px;
				@include min-break($break-medium) {
		      margin-right: 20px;
		    }
			}
		}
		.count {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 20px;
			height: 20px;
			color: #fff;
			font-size: 11px;
			font-weight: 500;
			background: $accent;
			border-radius: 50%;
		}
		.thb-item-icon-wrapper {
			position: relative;
			.thb-item-icon {
				line-height: 0;
				+ {
					.count {
						position: absolute;
						top: -10px;
						right: -12px;

						.rtl & {
							right: auto;
							left: -12px;
						}
					}
				}
			}
		}
	}
	.thb-secondary-dropdown {
		@extend .thb-dropdown-style;
		right: -10px;
		left: auto;

		.rtl & {
			right: auto;
			left: -10px;
		}
	}
	.thb-quick-search {
		position: relative;
		@extend .thb-dropdown-arrow-style;


		&:hover {
			&:before {
				opacity: 1;
			}
		}
		.thb-secondary-dropdown {
			padding: 25px;
		}
		.thb-secondary-search {
			.thb-header-inline-search {
				margin: 0;
				display: inline-flex;
				.search-field {
					max-width: 150px;
				}
				.thb-category-select {
					display: none;
					@include min-break($break-small) {
						display: block;
					}
				}
			}
		}
	}
	.thb-quick-cart {
		position: relative;
		@extend .thb-dropdown-arrow-style;
		.woocommerce-cart &,
		.woocommerce-checkout & {
			&:before {
				content: none;
			}
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}

		.thb-secondary-cart {
			@extend .thb-dropdown-style;
			min-width: 320px;
			left: auto;
			padding: 0;

			.rtl & {
				left: -10px;
				right: auto;
			}
			.widgettitle {
				display: none;
			}
		}
		.widget_shopping_cart {
			margin-bottom: 0;
			padding: 25px;

			.widget_shopping_cart_content {
				>* {
					&:last-child {
						margin-bottom: 0;
					}
				}
				.woocommerce-mini-cart__empty-message {
					text-align: center;
					color: $black;
					padding: 40px 0;
				}
			}
		}
		.thb-header-after-cart {
			border-top: 1px solid $border;
			padding: 15px 25px;
			font-size: 13px;
			color: $black;
			>* {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.thb-item-text,
		.thb-item-icon-wrapper {
			cursor: pointer;
		}
	} // .thb-quick-cart
	.mobile-toggle-holder {
		@include min-break($break-medium) {
			display: none;
		}
	}
}

// Custom Content.
.thb_header_left {
	>* {
		&:last-child {
			margin-bottom: 0;
		}
	}
}