.subheader {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
	display: none;

	@include min-break( $break-medium ) {
		display: block;
	}
  &.light {
    border-bottom: 1px solid $border;
  }
	&.subheader-mobile-on {
		display: block;
	}
	.subheader-full-width-on & {
		.row {
			max-width: none;
		}
	}
  .subheader-leftside {
    @include min-break($break-small) {
      text-align: left;

			.rtl & {
				text-align: right;
			}
    }
  }
  .subheader-rightside {
    @include min-break($break-small) {
      text-align: right;

			.rtl & {
				text-align: left;
			}
    }
  }
	.subheader-text {
		display: inline-flex;
		height: 100%;
		align-items: center;
		min-height: 35px;
		> * {
			margin-bottom: 0;
		}
	}
  .thb-full-menu {
    >.menu-item {
      >a {
        min-height: 34px;
        font-size: 12px;
        text-transform: none;
        font-weight: 400;
        align-items: center;
      }
      & + .menu-item {
  			margin-left: 15px;

  			.rtl & {
  				margin-left: 0;
  				margin-right: 15px;
  			}
  		}
      &.menu-item-has-children>a:before {
        top: calc( 100% - 1px );
      }
    }
    .sub-menu {
      min-width: 0;
      padding: 15px 0;
      top: calc(100% - 1px);
      left: -15px;
      li {
        padding: 0 20px;
        font-size: 12px;
      }
    }
  }

	.columns {
		>*  {
			vertical-align: middle;
			& + ul,
			& + div {
				margin-left: 18px;

				.rtl & {
					margin-left: 0;
					margin-right: 18px;
				}
			}
		}
	}
	.thb-social-links-container {
		height: 100%;
    align-items: center;
		.thb-social-link {
			font-size: 16px;
			min-height: 35px;
			align-items: center;
			& + .thb-social-link {
				margin-left: 13px;
			}
		}
	}
  &.dark {
    background: $black;
    .thb-full-menu {
      >.menu-item {
        >a {
          color: #fff;
        }
      }
      .thb-menu-label {
        color: rgba(#fff,0.8);
      }
    }
  }
}