$transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$break-small: 736px;
$break-medium: 1068px;
$break-large: 1440px;


$black: #121212;
$border: #eee;
$border-dark: #e0e0e0;
$accent: #bfab80;
$form-border: #e0e0e0;

$social: (
	facebook: #3b5998,
	linkedin: #007bb6,
	twitter: #00aced,
	instagram: #3f729b,
	youtube: #e52d27,
	vkontakte: #45668e,
	pinterest: #bd081c,
	whatsapp: #25d366,
	medium: #00ab6c,
	email: #9b9b9b,
	reddit: #ff4500,
	vimeo: #1ab7ea
);