.post-detail {
	max-width: 870px;

	.no-sidebar & {
		max-width: 100%;
	}
	&.sticky {
		.entry-title {
			text-decoration: underline;
		}
	}
  .post-title-container {
    margin-bottom: 35px;
		overflow-wrap: break-word;
    .thb-article-meta {
      font-size: 11px;
      font-weight: 400px;
      text-transform: uppercase;
      a {
        font-weight: 500;
      }
      em {
        font-style: normal;
        margin-right: 3px;
      }
      >div {
        display: inline-flex;
        margin-right: 5px;
				flex-wrap: wrap;
      }
    }
  }
  .thb-article-featured-image {
    margin-bottom: 40px;
    position: relative;
    .featured_image_credit {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 80%;
      z-index: 60;
      padding: 8px 14px;
      color: #fff;
      font-size: 13px;
      background: rgba(0,0,0,0.3);
    }
    &.thb-gallery-format {
      max-width: 855px;
      .thb-carousel {
        max-width: 100%;
      }
    }
  }
  .post-share-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
    @include min-break( $break-small ) {
      flex-direction: row;
      padding-bottom: 60px;
      .rtl & {
        flex-direction: row-reverse;
      }
    }

    .thb-fixed-shares-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      @include min-break( $break-small ) {
        width: 80px;
      }
      @include min-break( $break-medium ) {
        width: 100px;
      }
      .thb-social-top {
        display: flex;
        position: sticky;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
        .thb-sharing-title {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          color: $black;
          margin-right: 15px;
          line-height: 1;
          @include min-break( $break-small ) {
            margin-right: 0;
            margin-top: 5px;
            margin-bottom: 15px;
          }
        }
        @include min-break( $break-small ) {
          flex-direction: column;
					padding-right: 20px;
        }
        .thb-social-buttons {
          display: flex;
          @include min-break( $break-small ) {
            flex-direction: column;
          }
          .social-button-holder {
            display: block;
            padding: 3px;
            @include min-break( $break-small ) {
              margin-bottom: 5px;
            }
            .social {

              @each $profile, $color in $social {

                &.social-#{$profile} {
									color: $color;
                  &:hover {
                    color: darken($color, 20%);
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  .post-content-container {
		max-width: 770px;
		width: 100%;
		.post-content {
			@extend .cf;
		}
		.no-sidebar & {
			max-width: 100%;
		}
  }
  .thb-article-tags {
    margin-top: 20px;
    a {
      @extend .tag-cloud-link;
    }
  }
  .thb-article-nav {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;

    @include min-break( $break-small ) {
      flex-direction: row;
      justify-content: space-between;

			.rtl & {
				flex-direction: row-reverse;
			}
    }
    .thb-article-nav-post {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      max-width: 340px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        font-size: 30px;
        line-height: 1;
        font-family: 'peakshops';
        @include translateY(-50%);
      }
      span {
        color: #979797;
        font-size: 11px;
				text-transform: uppercase;
      }
      strong {
        color: $black;
        font-size: 16px;
        font-weight: 500;
      }
      &:hover {
        span,
        strong {
          color: $accent;
        }
      }
      &.previous {
        padding-left: 40px;
        &:before {
          content: '\e809';
          left: 0;
        }
      }
      &.next {
        text-align: right;
        padding-right: 40px;
        margin-left: auto;
        &:before {
          content: '\e808';
          right: 0;
        }
      }
    }
  }
  .thb-related-posts {
    padding: 30px 0 0;
    border-bottom: 1px solid #eee;

    .related-posts-title {
      color: $black;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 20px;
    }
  }
}
/* Post Pagination */
.thb-article-pagination {
  display: block;
  clear: both;
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 12px;
  a {
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
  }
  .pages-text {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
  }
}