@import "variables";
@import "utilities.scss";
.yith-wcwl-add-to-wishlist {
	.yith-wcwl-wishlistexistsbrowse {
		display: none;
	}

	&.exists {
		.yith-wcwl-wishlistexistsbrowse {
			display: block;
		}
	}
	.feedback {
		display: none;
	}
}
.wishlist-title-container {
	margin-bottom: 30px;
	h2 {
		display: inline;
		vertical-align: middle;
		margin-right: 20px;
	}
}
.yith_wcwl_wishlist_footer {
	.yith-wcwl-share {
		ul {
			list-style: none;
			margin-left: 0;
			padding: 0;
			li {
				display: inline-block;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					width: 36px;
					height: 36px;
					@each $profile, $color in $social {
					  &.#{$profile} {
							background: $color;
							color: #fff;

					  	&:hover {
								background: darken($color, 10%);
					  		color:#fff;
					  	}
					  }
					}
				}
			}
		}
	}
}
.hidden-title-form {
	display: none;
}
.shop_table.wishlist_table {
	tr th {
		border-top: 0;
	}
	.product-stock-status {
		@include max-break($break-medium) {
			display: none;
		}
	}
	.dateadded {
		font-size: 10px;
		text-transform: uppercase;
		@include max-break($break-medium) {
			margin-right: 10px;
		}
	}
}