.woocommerce-account {
  &.logged-in {
		.no-vc {
			>.woocommerce {
	      display: flex;
	      flex-direction: column;

	      @include min-break($break-small) {
	        flex-direction: row;
	      }
	    }
    }
  }
  .woocommerce-MyAccount-navigation {
    width: 100%;
    flex-shrink: 0;
    max-width: 300px;
    padding-right: 30px;
    margin-bottom: 30px;

		.rtl & {
			padding-right: 0;
			padding-left: 30px;
		}
    ul {
      list-style: none;
      margin: 0;
      li {
        line-height: 1;
        margin-bottom: 20px;
      }
    }

    .is-active {
      a {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
  .woocommerce-MyAccount-content {
    width: 100%;

    .form-row {
      em {
        font-size: 11px;
      }
    }
    mark {
      background: transparent;
      text-decoration: underline;
    }
    fieldset {
      @extend .cf;
    }
    legend {
      font-size: 20px;
    	font-weight: 500;
    	margin-top: 40px;
    	margin-bottom: 20px;
    	color: $black;
      float: left;
      width: 100%;
    }
  }
}

/* Login Register */
.thb-myaccount-login {
  display: block;
  padding: 0 15px;
  max-width: 520px;
  margin: 0 auto;
}
.login-page-form {
	list-style: none;
	padding: 0;
	margin: 0 0 25px;
	display: flex;
	justify-content: center;
	li {
		display: inline-flex;
		align-items: center;
		padding: 0 15px;

		a {
			font-weight: 600;
			position: relative;
			color: #bababa;
			&:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				border-bottom: 1px solid $black;
				@include transform-origin(0, 0);
				@include scale(0,1);
				@extend .quick-transition;
			}
			&.active {
				color: $black;
				&:before {
					@include scale(1,1);
				}
			}
			&:hover {
				color: $black;
			}
		}
	}
}
.thb-overflow-container {
	overflow: hidden;
	padding: 40px 0;
}
.thb-form-container {
	display: flex;
	width: 200%;
	@include translateX(0%);
	@extend .quick-transition;

	&.no-register {
		width: 100%;
	}
  .input-text {
    width: 100%;
  }
	.thb-login-form,
	.thb-register-form {
		padding: 0 1px;
		width: 100%;
		will-change: opacity;
		@extend .quick-transition;
	}
	.thb-lost-form,
	.thb-register-form {
		opacity: 0;
	}
	&.register-active {
		@include translateX(-50%);
		.thb-register-form {
			opacity: 1;
		}
		.thb-login-form {
			opacity: 0;
		}
	}
}
.thb-register-form {
	.woocommerce-password-strength {
		display: flex;
		margin: 4px 0 0;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		padding: 12px 16px;
		background: #ffdada;
		color: #e43737;
		&.medium,
		&.good {
			background: #d8fcda;
			color: #15a93b;
		}
	}
	.woocommerce-password-hint {
		margin-top: 10px;
		display: block;
		font-size: 12px;
		font-weight: 500;
	}
	.woocommerce-privacy-policy-text {
		font-size: 14px;
	}
	.button {
		width: 100%;
	}
}
.thb-login-form {
	.woocommerce-LostPassword {
		display: flex;
		flex-direction: column;
		clear: both;
		@include min-break($break-small) {
			flex-direction: row;
			justify-content: space-between;
		}
		a {
			display: inline-block;
	    clear: left;
	    font-size: 14px;
	    vertical-align: middle;
		}
	}
}

// Addresses.
.addresses {
	margin: 0 -15px;
	.col-1,
	.col-2 {
		float: left;
		width: 100%;
		padding: 0 15px;
		@include min-break($break-small) {
			width: 50%;
		}
	}
}
.addresses {
	.woocommerce-Address {
		margin-bottom: 40px;
		address {
			line-height: 1.5;
			font-weight: 300;
			margin-bottom: 20px;
		}
		@include min-break($break-small) {
			margin-bottom: 0;
		}
	}
}

// Lost Password.
.woocommerce-ResetPassword {
  padding: 10vh 0;
  max-width: 500px;
  margin: 0 auto;
  @extend .cf;
  label {
    display: block;
  }
  .input-text {
    min-width: 300px;
  }
}