.wc-block-grid__products {
	.wc-block-grid__product {
		.wc-block-grid__product-onsale {
			position: absolute;
		  color: #fff;
		  top: 0;
		  left: 0;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  text-align: center;
		  text-transform: uppercase;
		  font-size: 12px;
		  font-weight: 600;
		  z-index: 20;
		  line-height: 1;
		  pointer-events: none;
			top: 20px;
	    left: 20px;
	    height: 26px;
	    padding: 0 13px;
			border: 0;
	    border-radius: 3px;
			background: #e6434a;
		}
		.product-thumbnail {
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      >a {
        display: block;
      }
      img {
        width: 100%;
      }
			.wc-block-grid__product-image {
				margin: 0;
			}
    }
		.woocommerce-loop-product__title {

			.wc-block-grid__product-title {
				font-size: 15px;
	      font-weight: 400;
	      margin-bottom: 4px;
			}
      a {
        color: $black;
        &:hover {
          color: $accent;
        }
      }
    }
		.wc-block-grid__product-rating {
			margin: 0;
			.star-rating {

				@extend .star-rating;
				width: auto !important;
				height: auto !important;
			}
		}
    .price {
      margin-bottom: 10px;
      line-height: 1;
    }
    .added_to_cart {
      display: none !important;
    }
		.wc-block-grid__product-add-to-cart {
			.add_to_cart_button {
				&:after {
					display: none !important;
				}
			}
			.wp-block-button__link {
				display: inline-block;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: 12px;
		    height: 34px;
		    line-height: 34px;
		    padding: 0 17px;
				background: $black;
				color: #fff;
				max-width: 100%;
				font-weight: 500;
				border: 0;
				outline: 0;
				position: relative;
				cursor: pointer;
				border-radius: 3px;
			  white-space: nowrap;
				@include appearance(none);
				@extend .quick-transition;
				&:hover {
					background: $accent;
					color: #fff;
				}
				&:focus {
					color: #fff;
				}
				&.loading {
					opacity: 1;
					pointer-events: none;
				}
			}
		}
	}
}

// Block Reviews
.wc-block-components-review-list-item__rating>.wc-block-components-review-list-item__rating__stars {
	@extend .star-rating;
	font-size: 16px;
  line-height: 1;
  height: 16px;
  vertical-align: middle;
  max-width: 75px;

	>span {
		&:before {
			position: static;
		}
	}
}
