// Swatches.
.thb-swatches {
	line-height: 1;
	&.thb_color-swatch {
		.products & {
			margin-left: -3px;
			margin-top: 5px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
		.thb-swatch {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			margin-right: 3px;
			cursor: pointer;
			@extend .quick-transition;
			>span {
				display: block;
				width: 22px;
				background-size: cover;
				height: 22px;
				text-indent: -9999em;
				border-radius: 50%;
				@include transition(transform .25s $transition);
				.rtl & {
					text-indent: 9999em;
				}
			}
			&:hover {
				@include box-shadow(inset 0 0 0 1px #000);

				>span {
					@include scale(0.9);
				}
			}
			&.selected {
				@include box-shadow(inset 0 0 0 1px #000);
			}
			.thb_widget_swatch_filter & {
				width: 20px;
				height: 20px;
				margin-right: 0;
				>span {
					width: 14px;
					height: 14px;
				}
			}
			.products & {
				width: 16px;
				height: 16px;
				margin-right: 0;
				>span {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
	&.thb_box-swatch {
		.thb-swatch {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 1px solid rgba($black, 0.1);
			color: $black;
			font-size: 12px;
			font-weight: 500;
			min-width: 30px;
			padding: 0 7px;
			margin-right: 5px;
			margin-bottom: 5px;
			height: 30px;
			cursor: pointer;
			@extend .quick-transition;
			&:hover {
				border-color: $black;
			}
			&.selected {
				border-color: $black;
				background: $black;
				color: #fff;
			}
			.products & {
				font-size: 12px;
				min-width: 26px;
				padding: 0 4px;
				height: 26px;
				margin-right: 3px;
				margin-bottom: 3px;
				&:hover {
					border-color: $black;
					background: $black;
					color: #fff;
				}
			}
		}
	}
	&.thb_text-swatch {
		.thb-swatch {
			display: inline-flex;
			margin-right: 15px;
			font-size: 13px;
			position: relative;
			font-weight: 500;
			line-height: 1;
			margin-bottom: 10px;
			cursor: pointer;
			opacity: 0.6;
			&:after {
				content: '';
				height: 1px;
				width: 100%;
				background: $black;
				position: absolute;
				top: calc( 100% + 2px );
				left: 0;
				@extend .quick-transition;
				transform-origin: left top;
				@include scale(0,1);
			}
			&.selected {
				opacity: 1;
				&:after {
					@include scale(1,1);
				}
			}
			&:hover {
				opacity: 1;
			}
			.products & {
				font-size: 12px;
				&:hover {
					&:after {
						@include scale(1,1);
					}
				}
			}
		}
	}
	.thb-swatch {
		&.disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}