/* Coundown */
.thb-countdown {
	.thb-countdown-ul {
		display: inline-flex;
		margin: 0;
		padding: 0;
		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			padding: 0 10px;
			font-feature-settings: "tnum";
	    font-variant-numeric: tabular-nums;
			border: 1px solid $border;
			border-radius: 2px;
			color: $black;
			min-width: 54px;
			height: 64px;
			.timestamp {
				font-weight: 600;
				will-change: contents;
				font-size: 24px;
				line-height: 1;
			}
			.timelabel {
				font-weight: 600;
				font-size: 10px;
				line-height: 1.4;
				padding-top: 2px;
				text-transform: uppercase;
				color: rgba(#000,0.6);
			}
			& + li {
				margin-left: 5px;

				.rtl & {
					margin-left: 0;
					margin-right: 5px;
				}
			}
		}
	}
}