/* Image */
.thb_image {
	display: inline-block;
	&.retina_size {
		visibility: hidden;
		&.retina_active {
			visibility: visible;
		}
	}
}
/* Image Links */
.thb_image_link {
	display: inline-block;
	img {
		display: block;
		transform-origin: center;
		transition: all .25s $transition;
		transition-property: opacity, scale;
		@extend .general-shadow-styles;
	}

	&>a {
		display: block;
		overflow: hidden;

		&:hover {
			img {
				opacity: 0.8;
				@include scale(1.07);
			}
		}
	}
	&.full {
		width: 100%;

		img {
			width: 100%;
		}
	}
	&.caption-style2 {
		padding-left: 40px;
		position: relative;
		.wp-caption-text {
			position: absolute;
			top: -15px;
			left: auto;
			right: calc(100% - 20px);
			width: auto;
			bottom: auto;
			white-space: nowrap;
			transform-origin: right bottom;
			@include rotateZ(-90);
			background: transparent;
			padding: 0;
			text-transform: uppercase;
			font-size: 12px;
			color: rgba(#000,0.4);
		}
	}
	.thb-image-content {
		margin-top: 20px;
	}
	&.aligncenter {
		display: block;
		img {
			margin: 0 auto;
			display: block;
		}
	}
	&.alignright {
    .thb-image-inner {
  	  float: right;
  	  text-align: right;

    	img {
        margin-left: auto;
      }
    }
  }

  .thb-image-inner {
		display: block;
		width: 100%;
		position: relative;
		img {
			max-width: 100%;
		}
		&.size_125 {
			width: 125%;
		}
		&.size_150 {
			width: 150%;
		}
		&.size_175 {
			width: 175%;
		}
		&.size_200 {
			width: 200%;
		}
		&.size_225 {
			width: 225%;
		}
		&.size_250 {
			width: 250%;
		}
		&.size_275 {
			width: 275%;
			img {
				width: 100%;
			}
		}
		.thb-portfolio-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      @extend .quick-transition;

      video {
        height: 100% !important;
      }
    }
  } //.thb-image-inner
  &:hover {
    .thb-portfolio-video {
    	opacity: 1;
    }
  }
}