/* Page Menu */
.thb-page-menu {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  li {
    a {
      display: block;
      padding: 10px 0;
    }
    &:hover,
    &.current_page_item {
      a {
        color: $accent;
      }
    }
  }
  &.style0 {
    li {
      margin-bottom: 0px;
      a {
      	display: block;
        line-height: 1;
      }
      &:hover,
      &.current_page_item {
      	a {
          color: $accent;
      		text-decoration: underline
      	}
      }
      &:first-child {
        a {
          padding-top: 0;
        }
      }
    }
  }
  &.style1 {
    li {
      a {
      	display: flex;
      	font-weight: 500;
      	font-size: 14px;
      	border-top: 1px solid $border;
      	border-left: 1px solid $border;
      	border-right: 1px solid $border;
      	height: 55px;
      	padding: 0 25px;
      	align-items: center;
      }
      &:last-child {
      	a {
      		border-bottom: 1px solid $border;
      	}
      }
      &:hover,
      &.current_page_item {
      	a {
      		background: $accent;
      		color: #fff;
      		border-color: $accent;
      	}
      	& + li a {
      		border-top-color: $accent;
      	}
      }
    }
  } // .style1.
	&.style2 {
		margin-bottom: 0;
		li {
			border-bottom: 1px solid $border;
			a {
				font-weight: 500;
				font-size: 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				span {
					@include transition(transform .5s $transition);
				}
				&:hover {
					opacity: 0.95;
					span {
						@include translateX(10px);
					}
				}
			}
			&:first-child {
				a {
					padding-top: 0;
				}
			}
			&:last-child {
				border-bottom: 0;

				a {
					padding-bottom: 0;
				}
			}
		}
	} // .style2.
}