.thb-slider.thb-carousel {
  .thb-slide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 350px;

    @include min-break( $break-small ) {
      height: 500px
    }
		.thb-slide-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

			& + .thb-slide-content {
				position: relative;
			}
    }
    .thb-slide-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .thb-slide-content {
      width: 100%;
    }
    &.thb-light-slide-text {
      .thb-slider-subtitle,
      .thb-slider-title,
      .thb-slider-text {
        color: #fff;
      }
      .thb-slider-title {
        line-height: 1.1;
      }
    }
  }
  &.thb-size-extended {
    margin: 0 -15px;
    width: calc(100% + 30px);
    max-width: none;
    @include min-break($break-small) {
      margin: 0 -50px;
      width: calc(100% + 100px);
    }
    .full-width-row & {
      margin: 0;
      width: 100%;
    }
  }
  &.thb-slider-style1 {
    .thb-slide-buttons {
      @include min-break($break-small) {
        @include translateY(150%);
      }
    }
  }
  &.thb-slider-style3,
  &.thb-slider-style5 {
    .thb-slide {
      height: auto;
      min-height: 350px;
      flex-direction: column;
      @include min-break($break-small) {
        flex-direction: row;
      }
      .thb-slide-content {
        height: 100%;

        .row {
          height: 100%;
          padding: 0;
          >.columns {
            padding: 0;
          }
        }
      }
      .thb-slide-content-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background: $accent;
        padding: 15px;

        @include min-break($break-small) {
          padding: 40px;
        }
      }
    }
    .thb-slide-image {
      position: static;
      @include min-break($break-small) {
        position: absolute;
      }
      img {
        @include max-break($break-small) {
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }
  &.thb-slider-style3 {
    .thb-slide {
      .thb-slide-content-inner {

        @include max-break($break-small) {
          border-top-right-radius: 0 !important;
          border-top-left-radius: 0 !important;
        }
        @include min-break($break-small) {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }
  &.thb-slider-style5 {
    .thb-slide {
      .thb-slide-content-inner {
        justify-content: flex-start;
        @include max-break($break-small) {
          border-top-right-radius: 0 !important;
          border-top-left-radius: 0 !important;
        }
        @include min-break($break-small) {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
}
.thb-inner-buttons {
  margin-top: 40px;

  .btn {
    & + .btn {
      margin-left: 12px;
    }
  }
  .btn-text-regular {
    display: inline-block;
    border-bottom: 1px solid $black;
    font-weight: 600;
    &.white {
      color: #fff;
      border-color: #fff;
    }
    &.accent {
      border-color: $accent;
    }
    & + .btn-text-regular {
      margin-left: 20px;
    }
    &.style2 {
      text-transform: uppercase;
      font-size: 14px;
      position: relative;
      border: 0;
      &:after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        position: absolute;
        top: calc(100% + 4px);
        left: 50%;
        margin-left: -25px;
        background: $black;
        @extend .quick-transition;
      }
      &:hover {
        &:after {
          @include scale(1.2);
        }
      }
      &.white {
        &:after {
          background: #fff;
        }
      }
      &.accent {
        &:after {
          background: $accent;
        }
      }
    }
  }
}