.thb_title {
  margin-bottom: 30px;
  h2 {
    margin: 0;
    line-height: 1
  }
  .thb_title_link {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    color: $accent;
    svg {
			fill: $accent;
			height: 8px;
      width: auto;
      margin-left: 10px;
			@include translateX(-4px);
			@include transition(all .15s linear);
			.bar {
				fill: $accent;
				@include scale(0,1);
				@include transition(all .15s linear);
			}
		}
    &:hover {
			svg {
				@include translateX(0px);
				.bar {
					@include scale(1,1);
				}
			}
		}
  }
  .thb_title_description {
    font-size: 14px;
  }
  &.style1 {
    overflow: hidden;
    text-align: center;

    .thb_title_inner {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 30px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        display: block;
        height: 5px;
        border-top: 2px solid $black;
        border-bottom: 1px dotted rgba($black, 0.3);
        width: 500%;
        pointer-events: none;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
    h2 {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.1em;
    }
    .left_brackets,
    .right_brackets {
      position: absolute;
      top: 0;
      pointer-events: none;
    }
    .left_brackets {
      left: -3px;
    }
    .right_brackets {
      right: -3px;
    }
  } // .style1
  &.style2 {
    text-align: left;
    line-height: 1;

    h2 {
      display: block;
      font-size: 40px;
      text-indent: -3px;
      line-height: 32px;
      font-weight: 600;
    }
    .thb_title_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include box-shadow(inset 0 -3px 0 0 $black);
      a {
        font-size: 12px;
        font-weight: 500;
      }
    }
  } // .style2
  &.style3 {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
    }
    .thb_title_icon {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 10px;
      svg {
        height: 40px;
      }
      .thb_title_image {
        text-align: center;
        .thb_image {
          display: inline-block;
          width: 40px;
        }

      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        height: 5px;
        border-top: 6px solid $border;
        width: 1000%;
        pointer-events: none;
        @include translateY(-50%);
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
  } // .style3
  &.style4 {
    overflow: hidden;
    text-align: center;

    .thb_title_inner {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 15px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        display: block;
        height: 4px;
        background: $black;
        width: 900em;
        pointer-events: none;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
    h2 {
      display: inline-block;
      height: 30px;
      line-height: 1;
      font-size: 30px;
      font-weight: 600;
    }
    &.text-left {
      text-align: left;

      &:before {
        display: none;
      }
      .thb_title_inner {
        padding-left: 0;
      }
    }
  } // .style4
  &.style5 {
    border-top: 4px solid $black;
    border-bottom: 1px solid $border;
    text-align: center;
    .thb_title_inner {
      padding: 15px 0;
    }
    h2 {
      display: inline-block;
      line-height: 1;
      font-size: 18px;
      font-weight: 600;
    }
    a {
      float: right;
      font-size: 14px;
      font-weight: 500;
    }
    &.text-left {
      text-align: left;
    }
  } // .style5
  &.style6 {
    overflow: hidden;
    text-align: center;

    .thb_title_inner {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 15px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 0;
        display: block;
        height: 1px;
        background: $black;
        width: 900em;
        pointer-events: none;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
    h2 {
      display: inline-block;
      height: 24px;
      line-height: 1;
      font-size: 24px;
      font-weight: 600;
    }

    &.text-left {
      text-align: left;

      &:before {
        display: none;
      }
      .thb_title_inner {
        padding-left: 0;
      }
    }
  } // .style6
  &.style7 {
    overflow: hidden;
    text-align: center;

    .thb_title_inner {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 15px;
      line-height: 1;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 0;
        display: block;
        height: 1px;
        background: $black;
        width: 900em;
        opacity: 0.2;
        pointer-events: none;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
    h2 {
      display: inline-block;
      height: 18px;
      line-height: 1;
      font-size: 18px;
      font-weight: 600;
    }
    &.text-left {
      text-align: left;

      &:before {
        display: none;
      }
      .thb_title_inner {
        padding-left: 0;
      }
    }
  } // .style7
  &.style8 {
    text-align: center;
    border-bottom: 1px solid $border;
    padding-bottom: 20px;

    h2 {
      font-size: 20px;
      font-weight: 500;
    }
    &.text-left {
      text-align: left;
    }
  } // .style8
  &.style9 {
    .thb_title_inner {
      display: inline-block;
      background: $black;
      padding: 10px 20px;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 0.08em;
      }
    }
    &.text-left {
      text-align: left;
    }
  } // .style9
  &.style10 {
    border-bottom: 2px solid $border;
    padding-bottom: 16px;
    .thb_title_inner {
      display: flex;
      align-items: center;
    }
    .thb_title_icon {
      display: inline-block;
      position: relative;
      text-align: center;
      margin-right: 15px;
      line-height: 1;
      svg {
        height: 20px;
        path,
  			circle,
  			rect,
  			ellipse {
  				stroke: $accent;
  			}
      }
			.rtl & {
				margin-right: 0;
				margin-left: 15px;
			}
    }
    .thb_title_description {
      margin-top: 10px;
    }
    h2 {
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
    }
    &.text-left {
      text-align: left;
    }
    a {
      margin-left: auto;
      font-size: 14px;
      font-weight: 500;

			.rtl & {
				margin-left: 0;
				margin-right: auto;
			}
    }
  } // .style10
  &.style11 {
    .thb_title_inner {
      display: flex;
      align-items: center;
    }
    .thb_title_description {
      margin-top: 10px;
    }
    h2 {
      display: inline-block;
      font-size: 36px;
      font-style: italic;
      font-weight: 600;
    }
    &.text-left {
      text-align: left;
    }
    a {
      margin-left: auto;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;

			.rtl & {
				margin-left: 0;
				margin-right: auto;
			}
    }
  } // .style11
  &.style12 {
    overflow: hidden;
    text-align: center;

    .thb_title_inner {
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0 15px;
      line-height: 1;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 0;
        display: block;
        height: 1px;
        background: $black;
        width: 900em;
        opacity: 0.2;
        pointer-events: none;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
      @include min-break($break-small) {
        padding: 0 45px;
      }
    }
    .thb_title_description {
      margin: 10px auto 0;
      max-width: 90%;
      @include min-break($break-small) {
        max-width: 70%;
      }
      @include min-break($break-medium) {
        max-width: 50%;
      }
    }
    .thb_title_link {
      margin-top: 10px;
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 14px;
    }
    h2 {
      display: inline-block;
      height: 24px;
      line-height: 1;
      font-size: 24px;
      font-weight: 600;
    }
    &.text-left {
      text-align: left;

      &:before {
        display: none;
      }
      .thb_title_inner {
        padding-left: 0;
      }
      .thb_title_description {
        margin-left: 0;
      }
      .thb_title_link {
        margin-left: 0;
      }
    }
  } // .style12
  &.style13 {
    .thb_title_inner {
      display: flex;
      flex-direction: column;

      @include min-break($break-small) {
        flex-direction: row;
        align-items: center;
      }
    }
    h2 {
      font-size: 22px;
      font-weight: 500;
    }
    .thb_title_link {
      margin-left: 25px;
      font-size: 14px;

			.rtl & {
				margin-left: 0;
				margin-right: 25px;
			}
    }
    .thb_title_description {
      margin-top: 10px;
    }
  } // .style13
  &.style14 {
    text-align: center;

    h2 {
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      position: relative;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 50px;
        position: absolute;
        background: $black;
        top: 100%;
        left: 50%;
        margin-left: -25px;
      }
    }
    .thb_title_description {
      margin: 10px auto 0;
      max-width: 90%;
      @include min-break($break-small) {
        max-width: 80%;
      }
      @include min-break($break-medium) {
        max-width: 60%;
      }
    }
    .thb_title_link {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}